/*
 * SPDX-FileCopyrightText: 2026 Amy Poon <amy@amypoon.me>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.title-header {
  font-size: 36px;
  font-weight: bold;
}

label.description {
  font-size: 16px;
}

textview.view {
  border-radius: 10px;
  padding: 10px;
}
